@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Dancing+Script&family=Italianno&family=Kumbh+Sans:wght@100;200;700;800&family=Rubik:wght@300&display=swap");

body {
  background-color: hsl(226, 43%, 10%);

  font-family: "Rubik", sans-serif;
}

.main-section {
  display: grid;


  grid-template-columns: repeat(3,200px);

    grid-template-rows: repeat( 3, 200px);

   
  grid-template-areas: 
  
  "one two three four"

  "one five six seven"
  
  
  ;
 
  margin: 90px 380px;
}

.one{


    grid-area: one;

    margin: 20px;


}

.main-profile {
  display: flex;

  flex-direction: column;

  background-color: hsl(235, 45%, 61%);

  padding: 20px;

  border-radius: 10px;
}

.small-span {
  margin: 20px 0px;

  color: #aaa;

  font-weight: bold;
}

.large-span {
  font-size: 35px;

  color: #fff;

  width: 70%;
}

.profile-img {
  border: 3px solid #fff;

  border-radius: 50%;
}

.other-profile {
  display: flex;

  flex-direction: column;

  padding: 30px;

  background-color: hsl(235, 46%, 20%);

  border-bottom-left-radius: 10px;

  border-bottom-right-radius: 10px;
}

.days {
  color: #aaaa;

  font-weight: bold;

  margin: 20px;
}

.days:nth-child(2) {
  color: white;
}

.profile {
  display: flex;

  flex-direction: column;
}


.two{


   


    grid-area: "two";

    margin: 20px;

    background-color: hsl(15, 100%, 70%); 


    border-radius: 10px;


    position: relative;




    
}


.top-image{

    display: flex;

    justify-content: space-between;
}

 



.desc-section{

    display: flex;

    flex-direction: column;

    background-color: hsl(235, 46%, 20%);
    padding: 10px;

    border-radius: 10px;

    z-index: 999;
}


.top{


    display: flex;

    justify-content: space-between;

    align-items: center;

    font-weight: bold;

    font-size: 16px;

    color: #fff;


}

.top-section{

 background-image: url("../images/icon-work.svg");

 background-repeat: no-repeat;
 

 border-radius: 10px;


 position: absolute;

 top: 0;

 right: 0;

  
  
}




.time{

    font-size: 32px;

    

    color: #AAA;

    margin: 20px 0px;


}

.time-tracker{


    color: white;
}


.three{


  


    grid-area: "three";

    margin: 20px;

    background-color: hsl(195, 74%, 62%); 


    border-radius: 10px;


    position: relative;




    
}

.four{


   

   


    margin: 20px;

    background-color: hsl(348, 100%, 68%); 


    border-radius: 10px;


    grid-area: "four";

    position: relative;




    
}


.five{


   

   grid-area: "five";

    margin: 20px;

    background-color: hsl(145, 58%, 55%); 


    border-radius: 10px;


    

    position: relative;




    
}


.six{


   


   grid-area: "six";


    margin: 20px;

    background-color: hsl(264, 64%, 52%); 


    border-radius: 10px;


    

    position: relative;


   

    
}


.seven{


    

    grid-area: "seven";
   

    margin: 20px;

    background-color:  hsl(43, 84%, 65%); 


    border-radius: 10px;


    

    position: relative;


    
    
}


@media screen and (max-width: 1024px){

.main-section {
  display: grid;


  grid-template-columns: repeat(1,350px);

    grid-template-rows: repeat( 1, 350px);

   
  grid-template-areas: 
  
  "one"

  "one"

  "two"

  "three"

  "four"

  "five"

  "six"

  "seven"
  
  
  ;
 
  margin: 150px;
}
 



}








